# ======================

# Build output

# ======================

target/*

build/

out/

# ======================

# IntelliJ IDEA

# ======================

.idea/

*.iml

# ======================

# OS

# ======================

.DS_Store

# ======================

# Logs

# ======================

*.log

# ======================

# JaCoCo (РАЗРЕШАЕМ ОТЧЁТ)

# ======================

!target/site/

!target/site/jacoco/

!target/site/jacoco/**