# ======================
# Java / Maven / Gradle
# ======================
target/
build/
out/

*.class

# Maven wrapper logs
.mvn/timing.properties

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iws
*.iml
*.ipr

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# JaCoCo (ВАЖНО)
# оставляем отчет, но не мусор сборки
# игнорим весь build

target/*
# ======================
!target/site/
#
!target/site/jacoco/
#
!target/site/jacoco/**

# ======================
# Eclipse (если вдруг)
# ======================
.project
.classpath
.settings/